body {
	background-color: #CEF0FF;
	max-width: 1000px;
	width: 70%;
	padding: 28px;
	margin: 30px auto;
	/*border: solid #bdc2c7 28px;*/
	/*background: #FDF1BD;*/
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Gentium Book Basic', Cambria, Georgia, serif;*/
    display: block;
}

H1 {
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #aaa;
    text-align: center;
    font-size: 400%;
    margin-bottom: 0ex;
    margin-top: 1.5ex;
    padding-left: 0.21em;
    color: #440099;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: ;
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.purplebox {
    font-size: large;
    background-color: #440099;
    color: white;
    padding: 1ex 1em;
    font-weight: bold;
}


.purplebox A {
    color: yellow;
    text-decoration: none;
}

A {
	text-decoration: none;
	color: black;
}
A:-webkit-any-link {
    cursor: pointer;
}

.h2hover {
	font-size: 22px;
	color: #d64199;
}

.ulhover {
	font-size: 19px;
}

h2 {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	letter-spacing: .2rem;	
	color: #d64161;
}

.paper {
	font-style: italic;
}

.author {
	text-decoration: underline;
}

ul {
	line-height: 1.2;
/*	list-style: none;
*/}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

li {
	line-height: 1.5;
}

p {
	line-height: 1.5;
}

img {
	width:25%;
	height:auto;
	min-width:120px;
}

.linspace {
	line-height: 1.5;
	padding-left: 16px;
}

.linspace2 {
	line-height: 2;
	padding-left: 25px;
}

.linspace3 {
	line-height: 2;
	padding-left: 16px;
	font-size: 1.5em;
}

.space {
	padding-left: 7px;
}

.noBullet {
	list-style: none;
}







