
.sidenav {
  width: 310px;
  position: fixed;
  z-index: 1;
  top: 15px;
  left: 15px;
  bottom: 15px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin:4px, 4px; 
  height: 95%; 
  text-align:justify;  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #2196F3;
  display: block;
  color: black;
  font-weight: bold;
}

.sidenav a:hover, .sidenav a:clicked {
  color: black;
}

.sidenav .problem {
  padding: 6px 8px 6px 50px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  font-weight: normal;
}

.sidenav .problem:hover {
  color: black;
  background: #f5f9fa;
  /*font-size: 1.2em;*/
}


.main {
  margin-left: 333px; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#text-java, #text-python {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 24px;
    color: Blue;
}

#text-python {
  color: green;
}

.prettyprint {
    margin-top: 5px;
    padding: 0px;
    /*font-family: 'Monaco';*/
    max-height: 2000px;
}

#p-explain {
  color: brown;
}

.examples {
  color: #475E78;
}
