
.sidenav {
  width: 380px;
  /*max-width: 25%;*/
  height: 99%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background: #eee;
  /*background: #E8F5E9;*/
  overflow-x: hidden;
  padding: 10px 0;
  margin: 0; 
  /*text-align:justify;  */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #2196F3;
  display: block;
  color: #68336B;
  font-weight: bold;
}

.sidenav a:hover, .sidenav a:clicked {
  color: black;
  /*font-weight: bold;*/
}

.sidenav .problem {
  padding: 6px 8px 6px 39px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  font-weight: normal;
}

.sidenav .problem:hover  {
  color: black;
  background: #f5f9fa;
  /*border: 1px solid black*/
  /*font-size: 1.2em;*/
}
.sidenav #about:hover {
  background: #f5f9fa;  
}

.problem-type:hover {
  text-decoration: underline;
}

.main {
  margin-left: 400px; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#text-java, #text-python {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 24px;
    color: Blue;
}

#text-python {
  color: green;
}

.prettyprint {
    margin-top: 5px;
    padding: 0px;
    /*font-family: 'Monaco';*/
    max-height: 2000px;
}

#p-explain {
  color: brown;
}

.examples {
  color: #475E78;
}

#p-desp {
  font-size: 0.90em;
  /*font-family: 'helvetica';*/

}