
.sidenav {
  width: 380px;
  /*max-width: 25%;*/
  height: 99%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background: #eee;
  /*background: #E8F5E9;*/
  overflow-x: hidden;
  padding: 10px 0;
  margin: 0; 
  /*text-align:justify;  */
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  /*color: #2196F3;*/
  display: block;
  color: #aa5578;
  font-weight: bold;
}

.sidenav a:hover, .sidenav a:clicked {
  color: black;
  /*font-weight: bold;*/
}

.sidenav .problem {
  padding: 6px 8px 6px 59px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
  font-weight: normal;
  text-indent:-2.2em;
  font-family: sans-serif;
  /*line-height: 1.4em;*/
}

.sidenav .problem:hover  {
  color: black;
  background: #f5f9fa;
  /*border: 1px solid black*/
  /*font-size: 1.2em;*/
}
.sidenav #about:hover {
  background: #f5f9fa;  
}

.problem-type, #about {
  margin-top: 10px;  
  font-family: 'helvetica';
  text-transform: uppercase; 
}

.problem-type:hover {
  text-transform: lowercase;
}

.main {
  margin-left: 400px; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media only screen and (max-width: 1000px) {
  .sidenav {
    padding-top: 15px;
    width: 50%;
  }
  .main {
    margin-left: 55%;
    font-size: 25px;
  }
  .sidenav a {
    font-size: 30px;
  }
  .sidenav .problem {
    font-size: 20px;
  }
  .examples {
    font-size: 15px;
  }

}

.base-code-text {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 24px;
}
#text-java {
    color: Blue;
}

#text-python {
    color: green;
}

#text-cpp {
    color: #B22222;
}

.prettyprint {
    margin-top: 5px;
    /*padding: 0px;*/
    /*font-family: 'Monaco';*/
    max-height: 2500px;
}

#p-explain {
  color: brown;
}

.examples {
  color: #475E78;
}

#p-desp {
  font-size: 0.90em;
  /*font-family: 'helvetica';*/

}

.tags:hover {
  font-weight: bold;
  /*text-decoration: underline;*/
  /*background-color: #F2FFC7;*/
  background-color: black;
  color: yellow;
}
.tags {
  font-weight: bold;
  border: 1px dashed blue;
  padding: 1px 2px 1px 2px;
  /*color: #0F58FF;*/
  font-size: 22px;
}

.top-right-corner{
   position:absolute;
   top:20px;
   right:20px;
   color: indigo;
   font-weight: bold;
   background-color: #F2FFC7;
}

/*CORE PROBLEMS*/
/*.sidenav .core-problem {*/
/*  padding: 6px 8px 6px 59px;*/
/*  text-decoration: none;*/
/*  font-size: 16px;*/
/*  color: #EB7572;*/
/*  display: block;*/
/*  font-weight: normal;*/
/*  text-indent:-2.2em;*/
/*  font-family: sans-serif;*/
  /*line-height: 1.4em;*/
/*}*/

/*.sidenav .core-problem:hover  {*/
/*  color: black;*/
/*  background: #f5f9fa;*/
  /*border: 1px solid black*/
  /*font-size: 1.2em;*/
/*}*/

/*.core-problem {*/
/*  color: #EB7572;*/
/*  font-size: 2em;*/
  /*font-weight: bold;*/
/*}*/
