body {
	background-color: #cce6ff;
	/*max-width: 1100px;*/
	width: 90%;
	padding: 0;
	margin: 30px auto;
	border: solid #bdc2c7 28px;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	/*background-color: #fefbd8;*/
	background-color: #ffffe6;
	padding: 28px;
	margin: 0;    
}

.download {
    background-color: white;
    color: purple;
    font-size: 1.2em;
    font-weight: bold;
}

.highlight {
    background-color: white;
    margin-left: 5px;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
}

.code {
    background-color: white;
    color: black;
    margin-left:8px;
    font-size: 1.1em;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

.highlight_num {
    background-color: white;
    margin-left: 5px;
    color: blue;
    font-size: 1.2em;
    font-weight: bold;
}

#title {
    color: red;
    font-size: 50px;
	font-family: 'Indie Flower', cursive;
}

img {
	width:80%;
	margin-left: 50px;
	height: auto;
	min-width:120px;
	padding: 10px;
}

.code_img {
	width:60%;
	margin-left: 50px;
	height: auto;
	min-width:120px;
	padding: 10px;	
}
.code_img_sm {
	width:40%;
	margin-left: 50px;
	height: auto;
	min-width:120px;
	padding: 10px;	
}

.code_img_lg {
	width:80%;
	margin-left: 50px;
	height: auto;
	min-width:120px;
	padding: 10px;	
}
/*.result_img {*/
/*	width:60%;*/
/*	margin-left: 50px;*/
/*	height: 400px;*/
/*	min-width:120px;*/
/*	padding: 10px;	*/
/*}*/

.case_img {
	width:300px;
	margin-left: 100px;
	height: 300px;
	min-width:120px;
	padding: 10px;	
}

a {
	text-decoration: none;
	color: black;
}

.h2hover {
	font-size: 24px;
	color: #3333cc;
}

.ulhover {
	font-size: 19px;
}

h2 {
	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	letter-spacing: .2rem;	
	/*color: #d64161;*/
	color: #0099ff;
}

.paper {
	font-style: italic;
}

.author {
	text-decoration: underline;
}

ul {
	line-height: 1.2;
/*	list-style: none;
*/}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

li {
	line-height: 1.5;
}

p {
	line-height: 1.2;
	font-size: 19px;
}


.linspace {
	line-height: 1.5;
	padding-left: 16px;
}

.space {
	padding-left: 7px;
}

.noBullet {
	list-style: none;
}

