<!DOCTYPE html>
<html>
<head>
	<title>Wenyang's Django Notes</title>
	<link rel="shortcut icon" href="../public/img/favicon-96x96.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>-->
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/css/homepage.css">
	<style>
	    .show {
	        display: none;
	    }
	    LI A:hover {
	        cursor: pointer;
	    }
	    LI:before {
            content: "\f0d7"; /* FontAwesome Unicode "\f0d7" for DOWN, "\f0da" for RIGHT  */
            font-family: FontAwesome;
            display: inline-block;
	    }
	    UL {
            list-style: none;
        }
        .change-li-before:before {
            content: "\f0da";
        }
	</style>
</head>
<body>


<h2 class="article-title">
    Django Notes (Django 2.1 & Python 3.7)
</h2>
<figure style="text-align:center">
    <img style="opacity:0.9" src="assets/img/funny-software-engineer-comic.jpg">
    <figcaption>What we try to avoid...</figcaption>
</figure>
<ul class="Aclass">
    <li class="coding-text">
        <a>Introduction</a><br>
        <p><a href="https://www.djangoproject.com/" target="_blank">Django</a> is a <span class="method">Model-View-Controller</span> (MVC) Python framework for web developments. <span class="method2">Click to toggle Show/Hide.</span> Quick install as follows:<br></p>
<pre class="prettyprint lang-bsh ">
pip install django

# check version
django-admin --version  
</pre>    
    </li>
    <li class="coding-text">
	    <a>Building Projects/Apps</a><br>
	    <p>In this note, the project is created at root <span class="method">~</span></p>
<pre class="prettyprint lang-bsh ">
# 1. create project directory and files at root ~
django-admin startproject mysite

# 2. create app directory and files inside ~/mysite/
python manage.py startapp main
</pre>
        <p>1. Inside <span class="method">~/mysite</span> we have:<span class="method2" style="font-family: 'Monaco', 'Menlo', 'Ubuntu Mono','Consolas','source-code-pro'"> &nbsp; &nbsp; manage.py &nbsp; &nbsp;  mysite</span><br>
        &nbsp; &nbsp; Inside <span class="method">~/mysite/mysite</span> we have: <span class="method2" style="font-family: 'Monaco', 'Menlo', 'Ubuntu Mono','Consolas','source-code-pro'">&nbsp; &nbsp;  __init__.py &nbsp; &nbsp;  settings.py &nbsp; &nbsp;  urls.py &nbsp; &nbsp;  wsgi.py</span><br>
        2. Inside <span class="method">~/mysite/main</span> we have: <span class="method2" style="font-family: 'Monaco', 'Menlo', 'Ubuntu Mono','Consolas','source-code-pro'">&nbsp; &nbsp; admin.py &nbsp; &nbsp; apps.py &nbsp; &nbsp; __init__.py &nbsp; &nbsp; migrations &nbsp; &nbsp; models.py &nbsp; &nbsp; tests.py &nbsp; &nbsp; views.py</span>
        </p>
        
        <p>Here, models.py = Model, views.py = View, urls.py = Controller.        </p>
    </li>
    
    <li class="coding-text">
	    <a>Running Server</a><br>
<pre class="prettyprint lang-bsh ">
# running server at ~/mysite/, default address: "http://localhost:8000/"
python manage.py runserver
</pre>
    </li>
<!----------------------------------- CONTROLLER --------------------------------------->
    
    <li class="coding-text">
	    <a>Controller - <span class="method">urls.py</span></a><br>
<pre class="prettyprint lang-python ">
# ~/mysite/mysite/urls.py    
from django.contrib import admin
from django.urls import path, include

urlpatterns = [
    path('', include('main.urls')),
    path('admin/', admin.site.urls),
    # path('tinymce/', include('tinymce.urls')),
]

# ~/mysite/main/urls.py    
from django.urls import path
from . import views

app_name = "main"

urlpatterns = [
    path('', views.homepage, name='homepage')
]
</pre>	
        
    </li>
 
<!----------------------------------- VIEW --------------------------------------->
    <li class="coding-text">
	    <a>View - <span class="method">views.py</span></a><br>
<p style="font-weight: bold; text-decoration: underline">HttpResponse for testing:</p>
<pre class="prettyprint lang-python ">
# ~/mysite/main/views.py   
from django.shortcuts import render
from django.http import HttpResponse

def homepage(request):
    return HttpResponse("<strong></strong>Hello World!")
</pre>	
<p style="font-weight: bold; text-decoration: underline">Webpage rendering with <a href="http://jinja.pocoo.org/" target="_blank">Jinja</a> Templates: </p>
<pre class="prettyprint lang-python ">
# ~/mysite/main/views.py   
from django.shortcuts import render
from .models import Tutorial

def homepage(request):
    return render(request=request,
                template_name="main/home.html",
                context={"tutorials": Tutorial.objects.all()})
</pre>
    <p><span class="method">Important</span>: Templates will be merged together, so name should be unique, such as <span style="font-family: 'Monaco', 'Menlo', 'Ubuntu Mono','Consolas','source-code-pro'">template_name="main/home.html"...</span></p>
    <p>1. Generic templating: </p>
<pre class="prettyprint lang-html">
&lt;!-- ~/mysite/main/templates/main/home.html   -->
&lt;head>
    {% load static %}
&lt;/head>
&lt;body>
    {% for tut in tutorials %}
        &lt;p>{{tut.tutorial_title}}&lt;/p>
        &lt;p>{{tut.tutorial_published}}&lt;/p>
        &lt;p>{{tut.tutorial_content|safe}}&lt;/p>
    {% endfor %}
&lt;/body>
</pre>   
    <p>2. Template with <span class="method2">Extend</span>: </p>
<pre class="prettyprint lang-html">
&lt;!-- ~/mysite/main/templates/main/header.html   -->
&lt;head>
    {% load static %}
    &lt;!-- load your css, js, ...  -->
&lt;/head>
&lt;body>
    &lt;!-- navbar -->
    
    {% block content %}
    {% endblock %}
    
    &lt;!-- footer -->
&lt;/body>

&lt;!-- ~/mysite/main/templates/main/home.html   -->
{% <strong>extends</strong> "main/header.html" %}

{% block content %}

    {% for tut in tutorials %}
        &lt;p>{{tut.tutorial_title}}&lt;/p>
        &lt;p>{{tut.tutorial_published}}&lt;/p>
        &lt;p>{{tut.tutorial_content|safe}}&lt;/p>
    {% endfor %}
    
{% endblock %}
</pre>  

<p>3. Template (ex. narbar, messages, etc) with <span class="method2">Include</span>: </p>
<pre class="prettyprint lang-html">
&lt;!-- ~/mysite/main/templates/main/header.html   -->
&lt;body>
    ...
    {% include "main/includes/navbar.html" %}
    ...
&lt;/body>

&lt;!-- ~/mysite/main/templates/main/includes/navbar.html   -->
&lt;nav>
    &lt;div class="nav-wrapper">
        &lt;a href="/" class="brand-logo">&emsp;Tutorials&lt;/a>
        &lt;ul id="nav-mobile" class="right hide-on-med-and-down">
            &lt;li>&lt;a href="/">Home&lt;/a>&lt;/li>
        {% if user.is_authenticated %}
            &lt;li>&lt;a href="/account">{{user.username}}&lt;/a>&lt;/li>
            &lt;li>&lt;a href="/logout">Lougout&lt;/a>&lt;/li>
        {% else %}
            &lt;li>&lt;a href="/register">Register&lt;/a>&lt;/li>
            &lt;li>&lt;a href="/login">Login&lt;/a>&lt;/li>
        {% endif %}

        &lt;/ul>
    &lt;/div>
&lt;/nav>
</pre>  
    
    
    
    </li>

<!----------------------------------- MODEL --------------------------------------->

    <li class="coding-text">
	    <a>Model - <span class="method">models.py</span></a><br>
<pre class="prettyprint lang-python ">
# ~/mysite/main/models.py   
from django.db import models
from datetime import datetime
from django.utils.timezone import now

# Create your models here.
class Tutorial(models.Model):
    tutorial_title = models.CharField(max_length=200)
    tutorial_content = models.TextField()
    tutorial_published = models.DateTimeField("date published", default=now())

    def __str__(self):
        return self.tutorial_title
</pre>
<p>Database migrations:</p>
<pre class="prettyprint lang-bsh ">
# ~/mysite/
python manage.py makemigrations
python manage.py migrate
</pre>
<p> Note: To fix database crashes, one might need to delete everything in Migration folder but "__init__.py" as well as "db.sqlite3" and run these two migrations again.</p>
    </li>
    
<!----------------------------------- Database --------------------------------------->
    <li class="coding-text">
	    <a>Database </a><br>
<p>How to use local db.sqlite3 database:</p>
<pre class="prettyprint lang-bsh ">
# ~/mysite/
python manage.py shell
>>> from main.models import Tutorial
>>> Tutorial.objects.all()
>>> new_tut = Tutorial(tutorial_title="Hello World", tutorial_content="...")
>>> new_tut.save()
</pre>
<p>Flush the databse:</p>
<pre class="prettyprint lang-bsh ">
python manage.py flush
</pre>
<p>See more <a href="https://docs.djangoproject.com/en/2.2/ref/models/fields/" target="_blank">model field reference</a>.</p>
<p>Accessing, Filtering data in views.py:</p>
<pre class="prettyprint lang-python ">
# ~/mysite/mysite/views.py

# filtering:
Tutorial.objects.filter(tutorial_title="some title")
Tutorial.objects.filter(tutorial_title="some title", tutorial_content="some content") # AND

# referring foreign keys fields with double underscore "__"
Tutorial.objects.filter(tag__tag_name="some tag name")
</pre>
    </li>
    
<!----------------------------------- Fixtures --------------------------------------->
    <li class="coding-text">
	    <a>Fixtures </a><br>
<p>Probably one does not want to add datas by hand every time. To load the database with some predefined data, we use fixtures.</p>
<pre class="prettyprint lang-bsh ">
# ~/mysite/
python manage.py loaddata superusers myusers colors tags items ....
</pre>
<p>It automatically looks for json files under fixtures, for examples:</p>
<pre class="prettyprint lang-python ">
# ~/mysite/main/fixtures/superusers.json
[
    { "model": "auth.user",
        "pk": 1,
        "fields": {
            "username": "admin",
            "password": ".....",
            "is_superuser": true,
            "is_staff": true,
            "is_active": true
        }
    },
    { "model": "auth.user",
        "pk": 2,
        "fields": {
            "username": "wenyang",
            "password": ".....",
            "is_superuser": true,
            "is_staff": true,
            "is_active": true
        }
    }
]

# ~/mysite/main/fixtures/myusers.json
[
    { "model": "index.myuser",
        "pk": 1,
        "fields": {
            "user": 1,
            "email_address": "user1@gmail.com",
            "location": "Ames"
        }
    },
    { "model": "index.myuser",
        "pk": 2,
        "fields": {
            "user": 2,
            "email_address": "user2@gmail.com",
            "location": "Chicago"
        }
    }
]
</pre>
<p>Notice how myusers links its <em>user</em> field as foreign keys to superusers. </p>
    </li>


    
<!----------------------------------- ADMIN --------------------------------------->
 
    <li class="coding-text">
	    <a>Admin - <span class="method">admin.py</span></a><br>
	    <p>Create Admin user: </p>
<pre class="prettyprint lang-bsh ">
# ~/mysite/ 
python manage.py createsuperuser
</pre>
<p>Import model and register admin site:</p>
<pre class="prettyprint lang-python ">
# ~/mysite/main/admin.py
from django.contrib import admin
from .models import Tutorial

class TutorialAdmin(admin.ModelAdmin):

    # option: select fields in admin site
    # fields = ["tutorial_title",
    #          "tutorial_published",
    #          "tutorial_content"
    #          ]
    
    # option: separate into sets in presentation          
    fieldsets = [
            ("Title/date", {"fields": ["tutorial_title", "tutorial_published"]}),
            ("Content", {"fields": ["tutorial_content"]})
            ]

admin.site.register(Tutorial)
</pre>	
<p></p>
    </li> 

<!----------------------------------- USER REGISTER --------------------------------------->
    <li class="coding-text">
	    <a>User registration</a><br>
<pre class="prettyprint lang-html ">
&lt;!-- ~/mysite/main/templates/main/register.html   -->
{% extends "main/header.html" %}

{% block content %}

    &lt;form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        &lt;br>
        &lt;button class="btn" type="submit">Register&lt;/button>
    &lt;/form>

    If you already have an account. &lt;a href="/login">login&lt;/a> instead.
{% endblock %}
</pre>   
<pre class="prettyprint lang-python">
# ~/mysite/main/urls.py
urlpatterns = [
    ...,
    path("register/", views.register, name="register")
]    

# ~/mysite/main/views.py
from django.shortcuts import render, redirect
from django.contrib.auth.forms import UserCreationForm
from django.contrib.auth import login, logout, authenticate

def register(request):
    if request.method == "POST":
        form = UserCreationForm(request.POST)
        if form.is_valid():
            user = form.save()
            username = form.cleaned_data.get('username')
            login(request, user)
            return redirect("main:homepage")  #preferred way, dynamic indept of url changes
        else:
            for msg in form.error_messages:
                print(form.error_messages[msg])

    form = UserCreationForm 
    return render(request=request,
                template_name="main/register.html",
                context={"form": form})
</pre>
    </li>
<!----------------------------------- FORMS --------------------------------------->
 
    <li class="coding-text">
	    <a>Forms - <span class="method">forms.py</span></a><br>
	    <p>One of the easiest methods to have customized POST request is to via forms. </p>
<pre class="prettyprint lang-python ">
# ~/mysite/main/admin.py
class ColorScheme(models.Model):
    color_name = models.CharField(max_length=30)
    
class Tag(models.Model):
    tag_name = models.CharField(max_length=200)
    tag_color = models.ForeignKey(ColorScheme, default="1", verbose_name="Tag Color", on_delete= models.SET_DEFAULT)
    create_date = models.DateTimeField("date created", default=now())

    class Meta:
        verbose_name_plural = "Tags"
        ordering = ['-create_date']

    def __str__(self):
        return self.tag_name
</pre>	
<p>Notice that the Tag model uses ColorScheme as foreign key.</p>
<pre class="prettyprint lang-python">
# ~/mysite/main/forms.py
from django import forms
from django.forms import ModelForm

class NewTagForm(ModelForm):
    class Meta:
        model = Tag
        fields = ("tag_name", "tag_color")
    
    # optional, helps filtering the choices, can be used in views.py also
    tag_color = forms.ModelChoiceField(queryset=ColorScheme.objects.all())
</pre>

<p>In views.py:</p>
<pre class="prettyprint lang-python">
# ~/mysite/main/views.py
from .forms import NewTagForm
...
def add_tag_request(request):
    if request.method == "POST":
        form = NewTagForm(request.POST)
        if form.is_valid():
            tag = form.save(commit=False)
            tag_name = form.cleaned_data.get('tag_name')
            tag.save()
            messages.success(request, f"Tag {tag_name} added.")
            return redirect("index/add_tag_form.html")
        else:
            for msg in form.error_messages:
                messages.error(request, f"{msg}:{form.error_messages[msg]}")

    form = NewTagForm()
    return render(request=request,
                template_name="index/add_tag_form.html",
                context={"form": form})
</pre>
    </li> 
	
<!----------------------------------- SETTINGS --------------------------------------->
    <li class="coding-text">
	    <a>Project Settings - <span class="method">settings.py</span></a>
        <p>It sets up everything for the project: key, apps, database, packages, and more...</p>
<pre class="prettyprint lang-python ">
# ~/mysite/mysite/settings.py

DEBUG = True

ALLOWED_HOSTS = [
    '10.0.0.5'
]

INSTALLED_APPS = [
    ...,
    'main.apps.MainConfig'
]

# local default
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3')
    }
}

LANGUAGE_CODE = 'en-us'

# TIME_ZONE = 'UTC'
TIME_ZONE = 'America/Chicago'
</pre>
<p>Alternatively, one can set up enivorn variables, which is safer in deployment:</p>
<pre class="prettyprint lang-python ">
DATABASES = {
    'default': {
        'ENGINE': os.environ.get('ENGINE', 'django.db.backends.sqlite3'), 
        'NAME': os.environ.get('DB_NAME', os.path.join(BASE_DIR, 'db.sqlite3')), 
        'USER': os.environ.get('DB_USER', ''), 
        'PASSWORD': os.environ.get('DB_PASSWORD', ''), 
        'HOST': os.environ.get('DB_HOST', ''), 
        'PORT': os.environ.get('DB_PORT', ''), 
    }
}
</pre>
<!----------------------------------- TINYMCE --------------------------------------->

    </li> 
    <li class="coding-text">
        <a>Text-Editor: <em>tinymce</em></a>
<p>Installation: </p>
<pre class="prettyprint lang-bsh ">pip install django-tinymce4-lite</pre>
<p>Configuration: </p>
<pre class="prettyprint lang-python ">
# ~/mysite/mysite/settings.py
INSTALLED_APPS = [
    ...,
    'tinymce'
]

TINYMCE_DEFAULT_CONFIG = { ... }

# ~/mysite/main/urls.py
urlpatterns = [
    ...,
    path('tinymce/', include('tinymce.urls')),
]
</pre>
<p>To use it in templates for textareas, add css and script:</p>
<pre class="prettyprint lang-html">
&lt;link href="{% static 'tinymce/css/prism.css' %}" rel='stylesheet'>
...
&lt;script src="{% static 'tinymce/js/prism.js' %}">&lt;/script>
</pre>
    </li>

<!----------------------------------- CONCLUSION --------------------------------------->

    <li class="coding-text">
        <a>General Workflow</a>
        <pre class="method2" >
models/forms.py (Model) -> urls.py (Pattern) -> views.py (Controller) -> templates.html (View)
        </pre>
    </li>

</ul>
<div class="footer">
    <a title="Back to Previous" href="https://wyqian1027.github.io/public/apps.html"><i class="fas fa-igloo"></i></a>
	<em>Last updated on April 24, 2019 by Wenyang Qian.</em>
</div>











<script>
    var myLi = document.querySelectorAll(".coding-text");
    //hide all but first
    myLi.forEach(function(el, j){
        if (j != 0){
            for (var i=1; i<el.children.length; i++){
                el.children[i].classList.toggle('show');
            }
            el.classList.toggle('change-li-before');
        }
    });
    myLi.forEach(function(el){
        el.children[0].addEventListener('click', function(){
            for (var i=1; i<el.children.length; i++){
                el.children[i].classList.toggle('show');
            }
            el.classList.toggle('change-li-before');
        });
    });
</script>
</body>
</html>