/*body {
	background: teal;
}*/

h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 400;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


li {
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

/*every other li*/
li:nth-child(2n) {
	background: #f7f7f7;
}

li span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

#container {
/*	border: 2px solid black;
*/	margin: 100px auto;
	background: #f7f7f7;
	width: 360px;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.fa-plus {
	float: right;
}
.completed {
	color: gray;
	text-decoration: line-through;
}

input {
	color: #2980b9;
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0);
}

input:focus{
	background: #fff;
	border: 3px solid #2980b9;
	outline: none;

}

/*gradients from uigradients.com*/
body {
	font-family: 'Roboto', sans-serif;
	background: #C6FFDD;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}